<div id="pagi">
	{{#if prev}}
		<a class="newer-posts" href="{{page_url prev}}">&larr; 新文章</a>
	{{/if}}
	
	<span class="page-number">第{{page}}頁，共{{pages}}頁</span>
	
	{{#if next}}
		<a class="older-posts" href="{{page_url next}}">老文章 &rarr;</a>
	{{/if}}
</div>