{{!< default}}
	
	<div class="menu fr">
		<ul>
			<li class="fr">
				<div class="post-title fr home-bt">返回首頁</div>
			</li>	
		</ul>
	</div>
	
	<div class="clearfix"></div>

</div>

{{#post}}
	<div class="paper fr font-song">
		<h1>{{title}}</h1>
		{{content}}
	</div>
{{/post}}